
//- noscript.bigMessage
//-   h1!= t('messages.global.noscript', 'To use LocaLikeMe, please enable JavaScript.')

footer

  nav.social
    a(href="https://facebook.com/CHRISSPdotCOM") Twitter
    a(href="https://twitter.com/CHRISSPdotCOM") Facebook
    a(href="https://plus.google.com/114970984554176279502") G+

  p.affiliate
    | * The given link is a refferal link. The non refferal link is&nbsp;
    a(href="https://www.digitalocean.com") digitalocean.com

  p.copyright
    | &copy;&nbsp;
    =  (new Date()).getFullYear()
    | &nbsp;
    a(href="http://chrissp.com") CHRISSPdotCOM

script(src="/js/all.js")
